<div class="col-md-10">
	<div id="section-title"></div>
	<div id="message"></div>

	<!--###########CALCULATOR########################################-->
	<div id="calculator-view">calculadora</div>

	<!--###########CREAR########################################-->
	<div id="make">
		<div class="row-fluid fill" id="fil1">
			<div class="col-md-2"><label id="label-name">Name</label></div>
			<div class="col-md-4"><input id="recipe-name" type="text" name="recipe_name" placeholder="New recipe name"></div>

			<div class="col-md-2"><label id="rations">Rations</label></div>
			<div class="col-md-4">
				<input id="n-rations" style="width: 5em" type="number" min="1" value="1" title="Number of rations (> 0)">
			</div>
		</div>

		<div class="row-fluid fill" id="fil2">
			<div class="col-md-2"><label>Cost (€)</label></div>
			<div class="col-md-4">
				<% if !@recipe.is_a? NilClass %>
					<input type="text" name="recipe_cost" id="recipe_cost" readonly><%= @recipe.cost %>
				<% else %>
					<input type="text" name="recipe_cost" id="recipe_cost" readonly>
				<% end %>
			</div>

			<div class="col-md-2"><label>Ration cost (€)</label></div>
			<div class="col-md-4">
				<% if !@recipe.is_a? NilClass %>
					<input name="recipe_cost_ration" id="recipe_cost_ration" type="text" readonly><%= @recipe.ration_cost %>
				<% else %>
					<input name="recipe_cost_ration" id="recipe_cost_ration" type="text" readonly>
				<% end %>
			</div>
		</div>

		<div class="row-fluid fill" id="fil3">
			<div class="col-md-2"><label>Order</label></div>
			<div class="col-md-4">
				<select id="pos">
					<% pos = ['incoming', 'first', 'second', 'third', 'single', 'afters', 'other'] %>
					<% pos.each do |i| %>
						<% if (i == 'single') %>
							<option value="<%= i %>" selected="selected"><%= i %></option>
						<% else %>
							<option value="<%= i %>"><%= i %></option>
						<% end %>
					<% end %>
				</select>
			</div>

			<div class="col-md-2"><label>Type</label></div>
			<div class="col-md-4">
				<select id="type">
					<% t = ['snack', 'homemade_food', 'tapas', 'fast_food', 'tasting', 'other'] %>
					<% t.each do |i| %>
						<% if (i == 'other') %>
							<option value="<%= i %>" selected="selected"><%= i %></option>
						<% else %>
							<option value="<%= i %>"><%= i %></option>
						<% end %>
					<% end %>
				</select>
			</div>
		</div>

		<div class="row-fluid fill" id="fil4">
			<div class="col-md-2"><label>Nivel</label></div>
			<div class="col-md-4">
				<select id="nivel">
					<% n = ['very easy','easy', 'medium', 'hard', 'very hard'] %>
					<% n.each do |i| %>
						<% if (i == 'medium') %>
							<option value="<%= i %>" selected="selected"><%= i %></option>
						<% else %>
							<option value="<%= i %>"><%= i %></option>
						<% end %>
					<% end %>
				</select>
			</div>

			<div class="col-md-2"><label>Time</label></div>
			<div class="col-md-4">
				<input id="h" type="number" min="0" max="12" style="text-align:right; width: 4em;" title="Production time">h
				<input id="m" type="number" min="0" max="59" style="text-align:right; width: 4em;" title="Production time">m
			</div>
		</div>

		<div class="row-fluid fill" id="fil5">
			<div class="col-md-2"><label>Vegan</label></div>
			<div class="col-md-4">
				<select id="vegan">
					<option value="no">no</option>
					<option value="yes">yes</option>
				</select>
			</div>

			<div class="col-md-2"><label>Warning</label></div>
			<div class="col-md-4">
				<input id="allergens" name="allergens" type="text" title="Warning allergens">
			</div>
		</div>

		<div class="row-fluid fill" id="fil6">
			<br>
			<p id="avatar">
				<label>Avatar</label>
				<label><input type="file" name="avatar"></label>
			</p>
			<div id="recipe-buttons" class="my-buttons">
				<a id="cancel" type="button" href="/home" class="btn btn-default">Cancel</a>
				<button id="save-recipe" class="btn btn-primary">Save recipe</button>
			</div>
		</div>
		<!--<div class="form-group">
			<table style="width:95%; text-align:left;">
				<thead></thead>
				<tbody>
					<tr id="fil1">
						<td><label id="label-name">Name</label></td><td><input id="recipe-name" type="text" name="recipe_name" placeholder="New recipe name"></td>
						<td><label>Cost (€)</label></td>
						<% if !@recipe.is_a? NilClass %>
							<td><input type="text" name="recipe_cost" id="recipe_cost" readonly><%= @recipe.cost %></td>
						<% else %>
							<td><input type="text" name="recipe_cost" id="recipe_cost" readonly></td>
						<% end %>
					</tr>
					<tr id="fil2">
						<td><label id="rations">Rations</label></td><td><input id="n-rations" name="n-rations" type="number" min="1" value="1" title="Number of rations (> 0)"></td>
						<td><label>Ration cost (€)</label></td>
						<% if !@recipe.is_a? NilClass %>
							<td><input name="recipe_cost_ration" id="recipe_cost_ration" type="text" readonly><%= @recipe.ration_cost %></td>
						<% else %>
							<td><input name="recipe_cost_ration" id="recipe_cost_ration" type="text" readonly></td>
						<% end %>
					</tr>
					<tr id="fil3" style="height: 10px"></tr>
					<tr id="fil4">
						<td><label>Order</label></td>
						<td>
							<select id="pos">
								<% pos = ['incoming', 'first', 'second', 'third', 'single', 'afters', 'other'] %>
								<% pos.each do |i| %>
									<% if (i == 'single') %>
										<option value="<%= i %>" selected="selected"><%= i %></option>
									<% else %>
										<option value="<%= i %>"><%= i %></option>
									<% end %>
								<% end %>
							</select>
						</td>
						<td><label>Type</label></td>
						<td>
							<select id="type">
								<% t = ['snack', 'homemade_food', 'tapas', 'fast_food', 'tasting', 'other'] %>
								<% t.each do |i| %>
									<% if (i == 'other') %>
										<option value="<%= i %>" selected="selected"><%= i %></option>
									<% else %>
										<option value="<%= i %>"><%= i %></option>
									<% end %>
								<% end %>
							</select>
						</td>
					</tr>
					<tr id="fil5">
						<td><label>Nivel</label></td>
						<td>
							<select id="nivel">
								<% n = ['very easy','easy', 'medium', 'hard', 'very hard'] %>
								<% n.each do |i| %>
									<% if (i == 'medium') %>
										<option value="<%= i %>" selected="selected"><%= i %></option>
									<% else %>
										<option value="<%= i %>"><%= i %></option>
									<% end %>
								<% end %>
							</select>
						</td>
						<td><label>Production time</label></td>
						<td>
							<input id="h" type="number" min="0" max="12" style="text-align:right; width: 4em;">h
							<input id="m" type="number" min="0" max="59" style="text-align:right; width: 4em;">m
						</td>
					</tr>
					<tr id="fil6" style="height: 10px"></tr>
					<tr id="fil7">
						<td><label>Vegan</label></td>
						<td><select id="vegan">
							<option value="no">no</option>
							<option value="yes">yes</option>
						</select>
						</td>
						<td><label>Notice allergens</label></td>
						<td><input id="allergens" name="allergens" type="text"></td>
					</tr>
					<tr id="fil8" style="height: 10px"></tr>
					<tr id="fil9">
						<td><label>Origin</label></td>
						<td><input id="country" type="text" title="Recipe origin country"></td>
					</tr>
				</tbody>
			</table>
			<br>
			<p id="avatar">
				<label>Avatar</label>
				<label><input type="file" name="avatar"></label>
			</p>
			<div id="recipe-buttons" class="my-buttons">
				<a id="cancel" type="button" href="/home" class="btn btn-default">Cancel</a>
				<button id="save-recipe" class="btn btn-primary">Save recipe</button>
			</div>
			<br>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingThree">
      					<h3 class="panel-title">
        					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#instructions-panel" aria-expanded="false">
          						<i class="fa fa-pencil" style="color:inherit;"> Write your recipe instructions</i></a>
      					</h3>
    				</div>
    				<div id="instructions-panel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      					<div class="panel-body">
							<textarea name="editor1" id="instructions" rows="10" cols="80"></textarea>
        					<script>CKEDITOR.replace( 'editor1', {
								language: 'en',
							});
        					</script>
  						</div>
					</div>
				</div>
			</div>

		</div>-->
		<hr>
		<div id="ingredient">
			<h4>Ingredients</h4>
			<div id="message2"></div>
			<table style="width:100%; text-align:right;">
				<thead></thead>	
				<tbody>
					<tr>
						<td><label>Name</label></td>
						<td><input type="text" id="ingredient-name" name="name" placeholder="New ingredient name"></td>
						<td><label>Select 
							<select id="quantity-op">
								<option value="quantity">Quantity</option>
								<option value="weight">Weight</option>
								<option value="volume">Volume</option>
							</select>
						</label>
						</td>
						<td><input id="n-quantity" name="n-quantity" type="number" step="0.01" min="0"></td>
						<td style="text-align: left">
							<span id="quantity-un"> (u)</span>
							<select id="weight-un">
								<option value="kg">kg</option>
								<option value="gr">gr</option>
							</select>
							<select id="volume-un">
								<option value="l">l</option>
								<option value="cl">cl</option>
								<option value="ml">ml</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><label>€ / </label><label id="unity">kg</label></td>
						<!--<select id="coin">
							<option value="euro">€</option>
							<option value="dollar">$</option>
						</select>
						/
						<select id="unity">
							<option value="unity">un</option>
							<option value="kgrams">kg</option>
							<option value="grams">gr</option>
							<option value="liter">l</option>
						</select></label>-->

						<td><input id="ing-cost" name="price" title="Price per unity/weight/volume" type="number" step="0.01" min="0"></td>
						<td><label>Decrease (%)</label></td><td><input id="decrease" name="decrease" type="number" step="0.01" min="0" value="0" ></td>
					</tr>
					<tr style="height: 15px"></tr>
					<tr>
						<td></td><td></td>
						<td>
							<a type="button" href="/home" id="cancel-ingredient" class="btn btn-default">Cancel</a>
						</td>
						<td>
							<button id="save-finish" class="btn btn-success">Save &#38; Finish</button>
						</td>
						<td>
							<button id="save-ingredient" class="btn btn-success">Save &#38; New ingredient</button>
						</td>
					</tr>
				</tbody>
			</table>
			<hr>
		</div>
	</div>

	<!--###########IMPORTAR####################################################-->
	<div id="import">importar</div>

	<!--###########EXPORTAR####################################################-->
	<div id="export">exportar</div>

	<!--###########SHOW########################################################-->
	<div id="show">
		<table id="recipe-list-tb" class="display">
		    <thead>
		        <tr>
		            <th>Name</th>
		            <th>Diner</th>
		            <th>Cost</th>
		            <th>Ration cost</th>
		            <th>Nivel</th>
		            <th>Production time</th>
		            <th>Vegan</th>
		            <th>Author</th>
		            <th></th>
		            <th></th>
		        </tr>
		    </thead>
		    <tbody>
		    	<% @rec.each do |rec| %>
			        <tr id="<%= rec.name %>">
			            <td><%= rec.name %></td>
			            <td><%= rec.nration %></td>
			            <td><%= rec.cost %></td>
			            <td><%= rec.ration_cost %></td>
			            <td><%= rec.nivel %></td>
			            <td><%= rec.production_time %></td>
			            <% if rec.vegan == true %>
			            	<td>YES</td>
			            <% else %>
			            	<td>NO</td>
			            <% end %>
			            <td><%= rec.username %></td>
			            <td>Edit</td>
			            <td>Delete</td>
			        </tr>
			    <% end %>
		    </tbody>
		</table>
	</div>
</div>

<div class="col-md-2">
	<div id="current-recipe"></div>
</div>

<script type="text/javascript">
	//$('#make').hide();
	$('#accordion').hide();
	$('#calculator-view').hide();
	$('#import').hide();
	$('#export').hide();
	$('#ingredient').hide();
	//$('#section-title').html('<h3>Recipe list</h3><hr>');
	$('#section-title').html('<h3>New recipe</h3><hr>');
	//$('#show').show();
	$('#show').hide();
	$('#current-recipe').hide();

	$(document).ready(function(){

		//############################## INGREDIENTES ##############################
    	$('#recipe-list-tb').DataTable();
		$("#recipe-list-tb > tbody > tr.odd").click(function(){
			alert($(this).attr('id'));
			console.log($(this).attr('id'));
		});


		//############################## INGREDIENTES ##############################
		$('#quantity-un').hide();
		$('#weight-un').show();
		$('#volume-un').hide();
		$('#quantity-op').change(function(){
			switch ($("#quantity-op option:selected").text()){
				case 'Quantity':
					$('#quantity-un').show();
					$('#unity').html('u').show();
					$('#weight-un').hide();
					$('#volume-un').hide();
				break;
				case 'Weight':
					$('#quantity-un').hide();
					$('#weight-un').show();
					$('#weight-un').val('kg');
					$('#unity').html('kg').show();
					$('#volume-un').hide();
				break;
				case 'Volume':
					$('#quantity-un').hide();
					$('#weight-un').hide();
					$('#volume-un').show();
					$('#volume-un').val('l');
					$('#unity').html('l').show();
				break;
			}
		});

		$('#weight-un').change(function(){
			switch ($("#weight-un option:selected").text()){
				case 'kg':
					$('#unity').html('kg').show();
				break;
				case 'gr':
					$('#unity').html('gr').show();
				break;
			}
		});

		$('#volume-un').change(function(){
			switch ($("#volume-un option:selected").text()){
				case 'l':
					$('#unity').html('l').show();
				break;
				case 'cl':
					$('#unity').html('cl').show();
				break;
				case 'ml':
					$('#unity').html('ml').show();
				break;
			}
		});

		function ClearIngredient(){
			$('#ingredient-name').val('');
			$('#ing-cost').val('');
			$("#n-quantity").val('');
			$("#decrease").val(0.0);
			$('#quantity-op').val("weight");
			//$('#coin').val("euro");
			//$('#unity').val("unity");
			$('#unity').val("kg");
			$('#quantity-un').hide();
			$('#weight-un').show();
			$('#volume-un').hide();
		}

		$('#save-ingredient, #save-finish').click(function(){
    		if ($('#ingredient-name').val() == ""){
    			$("#message2").hide();
    			$("#message2").html('<p class ="alert alert-danger" role="alert">Type the  ingredient name</p>').show(1000);
    			return false;
			}
			if ($('#ing-cost').val() == ""){
    			$("#message2").hide();
    			$("#message2").html('<p class ="alert alert-danger" role="alert">Type the ingredient cost</p>').show(1000);
    			return false;
			}
			if ($('#n-quantity').val() == ""){
    			$("#message2").hide();
    			$("#message2").html('<p class ="alert alert-danger" role="alert">Type quantity</p>').show(1000);
    			return false;
			}
			if ($('#ing-cost').val() == ""){
    			$("#message2").hide();
    			$("#message2").html('<p class ="alert alert-danger" role="alert">Type ingredient cost</p>').show(1000);
    			return false;
			}

			var ins = CKEDITOR.instances['instructions'].getData();
			var finished = false;
			if ( $(this).attr('id') == "save-finish" )
				finished = true;
			$.ajax({
	    		type: "POST",
				url: "/home/new-ingredient",
	      		data: {ing_name: $('#ingredient-name').val(), ing_cost: $('#ing-cost').val(), ing_unity_cost: "€/"+$('#unity').text(),/*$("#coin option:selected").text()+'/'+$("#unity option:selected").text()*/ quantity_op: $('#quantity-op option:selected').text(), n_quantity: $('#n-quantity').val(), weight_un: $("#weight-un option:selected").text(), volume_un: $("#volume-un option:selected").text(),ing_decrease: $("#decrease").val(), instructions: ins, recipe_name: $('#recipe-name').val()},

	      		success: function(data){
	      			if(data.control == 0){
		  				$("#message2").hide();
			        	$("#message2").html('<p class ="alert alert-success" role="alert">'+$('#ingredient-name').val()+' has been added</p>').show(1000);
			        	$('#current-recipe').html($('#current-recipe').html() + " + " + $('#ingredient-name').val() + "<br>").show(1000);
			        	ClearIngredient();
			        	$('#recipe_cost').val(data.cost);
			        	$('#recipe_cost_ration').val(data.ration_cost);
			        	return false;
	      			}
	      			if(data.control == 1){
		  				$("#message2").hide();
			        	$("#message2").html('<p class ="alert alert-danger" role="alert">This ingredient already exists in the recipe</p>').show(1000);
			        	return false;
	      			}
	      			if ( finished == true){
	      				$("#message2").hide();
			        	$("#message2").html('<p class ="alert alert-success" role="alert">The new ingredient has been added</p>').show(1000);
	      				window.setTimeout(function(){window.location = '/home';}, 2000 );
	      				return false;
	      			}
	      		},

	      		error: function(xhr){
					console.log(xhr.status);
		    		console.log(xhr.statusText);
		    	}
		    });
		});
	//############################## RECETAS #########################################
		function ClearRecipe(){
			$('#recipe-name').val('');
			$('#recipe-name').val(''); $('#recipe-name').prop('readonly', false);
			$('#n-rations').val(''); $('#n-rations').prop('readonly', false);
			$('#n-rations').val('1');
			$('#pos').val("single");
			$('#type').val("other");
			$('#nivel').val("medium");
			$('#h').val(''); $('#m').val('');
			$('#vegan').val("no");
			$('#allergens').val('');
			$('#country').val('');
			CKEDITOR.instances['instructions'].setData('');			
		}

		$("#make-recipe").click(function(){
			$('#message').hide();
			$("#message2").hide();
			$('#calculator-view').hide();
			$('#import').hide();
			$('#export').hide();
			$('#show').hide();
			$('#section-title').html('<h3>New recipe</h3><hr>');
			$('#make').show();
			$('#recipe-buttons').show();
			$('#fil3, #fil4, #fil5, #fil6, #fil7, #fil8, #fil9').show();
			$('#avatar').show();
			$('#accordion').hide();
			$('#ingredient').hide();
			$('#current-recipe').hide();
			ClearRecipe();
		});

		$("#cancel").click(function(){
			$('#message').hide();
			$('#calculator-view').hide();
			$('#make').hide();
			$('#import').hide();
			$('#export').hide();
			$('#current-recipe').hide();
			$('#show').show();
			return false;
		});

		$("#import-recipe").click(function(){
			$('#message').hide();
			$('#calculator-view').hide();
			$('#make').hide();
			$('#export').hide();
			$('#show').hide();
			$('#current-recipe').hide();
			$('#section-title').html('<h3>Import recipe</h3><hr>');
			$('#import').show();
			return false;
		});

		$("#export-recipe").click(function(){
			$('#message').hide();
			$('#calculator-view').hide();
			$('#make').hide();
			$('#import').hide();
			$('#show').hide();
			$('#current-recipe').hide();
			$('#section-title').html('<h3>Export recipe</h3><hr>');
			$('#export').show();
			return false;
		});

		$("#show-all").click(function(){
			$('#message').hide();
			$('#calculator-view').hide();
			$('#make').hide();
			$('#import').hide();
			$('#export').hide();
			$('#current-recipe').hide();
			$('#section-title').html('<h3>Recipe list</h3><hr>');
			$('#show').show();
			return false;
		});

		$("#calculator").click(function(){
			$('#message').hide();
			$('#calculator-view').show();
			$('#make').hide();
			$('#import').hide();
			$('#export').hide();
			$('#current-recipe').hide();
			$('#section-title').html('<h3>Recipe calculator</h3><hr>');
			$('#show').hide();
			return false;
		});

		$("#save-recipe").click(function(){
			var entrada = false;
			if ($('#recipe-name').val() == ""){
    			$('#label-name').css("color", "red");
    			entrada = true;
    		}
    		else
    			$('#label-name').css("color", "inherit");
    		if ( ($('#n-rations').val() == "") || ($('#n-rations').val() < 1) ){
    			$('#rations').css("color", "red");
    			entrada = true;
    		}
    		else
    			$('#rations').css("color", "inherit");
			if (entrada == true) {
				$("#message").hide();
    			$("#message").html('<p class ="alert alert-danger" role="alert">Check fields</p>').show(1000);
    			entrada = false;
    			return false;
			}
			else
				$("#message").hide();
			if ($('#h').val() == "")
				$('#h').val(0);
			if ($('#m').val() == "")
				$('#m').val(0);
			$.ajax({
	    		type: "POST",
				url: "/home/new-recipe",
	      		data: {recipe_name: $('#recipe-name').val(), nration: $('#n-rations').val(), order: $('#pos').val(), type: $('#type').val(), nivel: $('#nivel').val(), time: $('#h').val()+"'"+$('#m').val()+"''", vegan: $('#vegan').val(), allergens: $('#allergens').val(), origin: $('#country').val()},

	      		success: function(data){
	      			if(data.control == 0){
		  				$("#message").hide();
			        	$("#message").html('<p class ="alert alert-success" role="alert">Recipe created successfully</p>').show(1000);
			        	$("#recipe-buttons").hide();
			        	ClearIngredient();
						$('#ingredient').show(1500);
						$('#recipe-name').prop('readonly', true);
						$('#n-rations').prop('readonly', true);
						$('#fil3, #fil4, #fil5, #fil6, #fil7, #fil8, #fil9').hide(1000);
						$('#avatar').hide(1000);
						$('#accordion').show(1500);
						$('#current-recipe').html("<h4>"+$('#recipe-name').val()+"</h4>").show(1500);
						return false;
	      			}
	      			if(data.control == 1){
	      				$("#message").hide();
			        	$("#message").html('<p class ="alert alert-danger" role="alert">This recipe name already exists</p>').show(1000);
			        	return false;
	      			}
	      		},

	      		error: function(xhr){
					console.log(xhr.status);
		    		console.log(xhr.statusText);
		    	}
		    });
		});
	});

</script>
